.arrow-down {
  display: inline-block;
  text-align: center;
  margin: auto 0;


    &__icon {
    justify-content: flex-end;
    display: inline-block;
    text-align: center;
    height: rem(15px);
    width: rem(30px);
  }  
} 