.best {
  background: url('/img/best/bg.jpg') center center/ cover no-repeat;
}

.best__list {
  display: flex;
}

.best__item {
  flex: 1;
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}