.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 9px 16px;
  font-size: 13px;
  font-family: "Ubuntu";
  font-weight: 500;
  background-color: $orange;
  border-radius: 5px;
}