.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: rem(9px) rem(16px);
  font-size: rem(13px);
  font-family: "Ubuntu";
  font-weight: 500;
  background-color: $orange;
  border-radius: 5px;
}