.burger__comp {
  height: rem(90px);
  width: rem(90px);
  background-color: #f08c33;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;

  

  &-icon {
    height: rem(45px);
    width: rem(45px);
    fill: #fff;
  }

  
  
}

.burger__value {
  height: rem(90px);
  width: rem(90px);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  

  &-icon {
    fill: #fff;
  }

  &-weight {
    height:rem(60px) ;
    width: rem(60px) ;
    display: flex;
    font-size: rem(20px);
    position: absolute;
    top: rem(29px);
    left: rem(29px);
  }

  &-unit {
    
  }
}

.burger__order {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burger__desc {
  font-size: rem(14px);
  font-family: "Ubuntu";
  font-weight: 300;
  line-height: 1.715;
  margin-bottom: rem(40px);

  @include phones {
    margin-bottom: rem(25px);
  }
}

.burger__order-num {
  font-size: rem(72px);
  letter-spacing: -2px;
  color: #e35028;
  font-family: "Gagalin-Regular";
  font-weight: 400;
  
  @include phones {
    font-size: rem(50px);
  }
}

.burger__order-curr {
  font-size: rem(30px);
  letter-spacing: -2px;
  color: #e35028;
  font-family: "Gagalin-Regular";
  font-weight: 400;

  @include phones {
    font-size: rem(24px);
  }
}

.burger__order-btn {
  margin-top: rem(44px);
  margin-left: rem(30px);

  &:hover {
      background-color: #c1401e;
  }
  
  @include phones {
    margin-top: 0;
  }
}

.burger__left-wrap {
  display: flex;
  flex: 1;
  max-height: rem(650px);
  flex-direction: column;
  justify-content: space-between;
  padding: rem(90px) 0;
  align-items: stretch;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include tablets {
    padding: rem(72px) 0 0 0;
    flex-direction: row;
    justify-content: space-between;
    background-position: bottom;
  }

  @include phones {
    padding: 0;
  }
}
