.footer {
	background-color: #121212;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  padding: rem(10px) 0;
  font-family: 'Ubuntu';
  font-weight: 300;
  min-height: rem(60px);
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include phones {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer__col {
	width: 50%;
}

.footer__address {
	color: #ffffff;
  font-size: rem(14px);
  flex: 1 1 auto;
}

.footer__phone {
	color: $red;
	text-decoration: none;
  font-size: rem(14px);
  font-weight: 700;

  &-icon {
    height: rem(11px);
    width: rem(11px);
  }
}

.footer__col_right {
  text-align: right;
  margin-bottom: 0;

  @include phones {
    text-align: center;
  }
}
