.header {
  padding-top: rem(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__order-btn {
  margin-left: rem(15px);
  font-size: rem(13px);
  &:hover{
    background-color: #c1401e;
  }
}