.hero {
  background: url('../img/hero/bg.jpg') center center/ cover no-repeat;
  position: relative;
}

.hero__container {
  justify-content: flex-start;
}

.hero__content {
  display: flex;
  flex: 0.9;
  align-items: center;
}

.hero__content-text {
  margin-left: 20px;
}

.hero__desc {
  font-size: 65px;
  font-family: 'Lifehack-Medium';
  line-height: 1;
  color: #fff;
}