.menu {
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: rem(15px);
  display: flex;
  align-items: center;

  &:after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: rem(16px);
  }

  &:last-child {
    margin-right: 0px;

    &:after {
      display: none;
    }
  }
}

.menu__link {
  white-space: nowrap;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}